[github]
	user = ckolderup
[core]
	editor = vim
	excludesfile = /Users/casey/.gitignore
	autocrlf = input
[user]
	name = Casey Kolderup
	email = casey@kolderup.org
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	hist = log --graph --pretty=format:'%C(magenta bold)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr) %C(magenta bold)<%an>%Creset' --abbrev-commit --date=relative
  co = checkout
  ci = commit
	st = status -sb
  br = branch
  #hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  unstage = reset HEAD --
  last = log -1 HEAD
	cool = "!git log --format=%s | while read line; do echo \"A cool thing to do is $line\"; done"
[color]
	diff = auto
	status = auto
	branch = auto
