[github]
	user = ckolderup
[core]
	editor = vim
	excludesfile = /Users/casey/.gitignore
[user]
	name = Casey Kolderup
	email = casey@kolderup.org
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%C(magenta bold)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr) %C(magenta bold)<%an>%Creset' --abbrev-commit --date=relative
[color]
	diff = auto
	status = auto
	branch = auto
